@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$font-family: 'League Spartan',sans-serif;

$color-very-dark-magenta: hsl(300, 43%, 22%);
$color-soft-pink: hsl(333, 80%, 67%);
$color-dark-grayish-magenta: hsl(303, 10%, 53%);
$color-light-grayish-magenta: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: $font-family;
    font-size: 10px;
}
main{
    display: grid;
    margin: 5rem auto;
    width: 70%;
    height: 90vh;
    grid-template-areas: 
    "sectionL sectionR"
    "footer footer"
    ;
    grid-template-columns: 45% 1fr;
    grid-template-rows: auto 40rem;

    .container-left{
        min-width: 30rem;
        grid-area: sectionL;
        h1{
            font-size: 6rem;
            color: $color-very-dark-magenta;
        }
        p{
            width: 80%;
            margin-top: 3rem;
            font-size: 2.1rem;
            color: $color-dark-grayish-magenta;
        }
    }
    .container-right{
        min-width: 30rem;
        grid-area: sectionR;
        padding-top: 2rem;
        .box-stars{
            overflow: hidden;
            border-radius: .5rem;
            margin: 2rem 4rem 0 0;
            width: 86%;
            height: 6rem;
            background-color: $color-light-grayish-magenta;
            display: flex;
            box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
            .box-start-flex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 3rem;
                width: 50%;
                img{
                    height: 2rem;
                }
            }

            p{
                width: 100%;
                line-height:6rem;
                text-align: center;
                font-size: 1.7rem;
                color: $color-very-dark-magenta;
                font-weight: 700;
            }
        }
        .container-stars-2{
            margin-left:7%;
        }
        .container-stars-3{
            margin-left: 14%;
        }

    }
    footer{
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;

        .box{
            overflow: hidden;
            width: 31.5%;
            height: 27rem;
            border-radius: .7rem;
            background-color: $color-very-dark-magenta;
            padding: 3.3rem;
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
            .container-header-card{
                display: flex;
                img{
                    border-radius: 50%;
                    height: 6rem;

                }
                p{
                    margin-top: 1rem;
                    font-weight: 600;
                    margin-left: 2rem;
                    font-size: 1.7rem;
                    color: $color-white;
                    letter-spacing: 1px;
                    line-height: 1.8rem;
                    
                    span{
                    font-weight: 400;
                        color: $color-soft-pink;
                    }
                }
            }
            p{
                font-weight: 400;
                margin-top: 4rem;
                font-size: 2rem;
                color: $color-white;
            }
        }
        .box2{
            margin-top: 2.5rem;
        }
        .box3{
            margin-top: 5.5rem;

        }
    }
}

@media screen and (max-width: 1168px) {


    main {
            width: 90%; 
            height: auto; 
            grid-template-areas:
                "sectionL"
                "sectionR"
                "footer"
            ; 
            grid-template-columns: none; 
            grid-template-rows: none; 
    
            .container-left {
                min-width: 30rem;    
                height: 25rem;
                h1 {
                    text-align: center;
                    font-size: 4rem;
                }
                p {
                    text-align: center;
                    width: 95%;
                }
            }
    
            .container-right {
                min-width: 20rem;
    
                .box-stars {
                    width: 100%;
                    height: 8rem;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     .box-start-flex {
                        margin-top: 2rem; 
                        justify-content: space-around; 
                        margin-left: 0rem; 
    
                   
                    }
                    p {
                        line-height: 5rem; 
                    }
                }
                .container-stars-2 {
                    margin-left: 0; 
                }
                .container-stars-3 {
                    margin-left: 0;
                }
    
            }
            footer {

                .box2,.box3 {
                        margin-top: 1.7rem ;
                    }
                justify-content: none; 
                flex-direction: column;
                .box {
                    width: 100%; 
              
                }
  
            }
        }
}
